@model v1jobportal.Models.AllJobListings
<html>
<head>
    @{
        ViewBag.Title = "Uploading Documents";
    }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" type="text/javascript"></script>
</head>

<body>
    <form asp-action="ProcessUpload" enctype="multipart/form-data" method="post">
        <label>Choose CV</label>
        <input type="file" name="applicant_cv" class="form-control" required class="form-control" />
        <input type="hidden" name="JobId" class="jid" />
        <input type="hidden" name="EmpId" class="eid" />
        <br />
        <button type="submit" class="btn btn-info"><b>Upload Cv</b></button>
    </form>
    <hr />
    <form asp-action="UpladCover" enctype="multipart/form-data" method="post">
        <label>Choose Cover Letter</label>
        <input type="file" name="cover_letter" class="form-control" required class="form-control" />
        <input type="hidden" name="JobId" class="jid" />
        <input type="hidden" name="EmpId" class="eid" />
        <br />
        <button type="submit" class="btn btn-info"><b>Upload Cover</b></button>
    </form>

    @ViewBag.Message

    <script>
        function TX(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
        }

        $(document).ready(function () {
            $(".jid").val(TX("_bid"));
            $(".eid").val(TX("_emid"));
            return false;
        });
    </script>

</body>
